@model DocumentViewModel

@{
    Layout = "_LocalLayout";

    if (!string.IsNullOrWhiteSpace(Model.HtmlHead?.Title))
    {
        ViewData["Title"] = Model.HtmlHead.Title;
    }
}

<partial name="Breadcrumb" model=@Model.Breadcrumb />

<div class="govuk-tabs" data-module="govuk-tabs">
    <h2 class="govuk-tabs__title">
        Contents
    </h2>
    <ul class="govuk-tabs__list">
        <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab" href="#tab-content">
                Content
            </a>
        </li>
        <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab" href="#tab-metadata">
                Metadata
            </a>
        </li>
    </ul>
    <div class="govuk-tabs__panel" id="tab-content">
        @if (!string.IsNullOrWhiteSpace(Model.HeroBannerViewModel?.Content?.Value))
        {
            <partial name="HeroBanner" model=@Model.HeroBannerViewModel />
        }

        <partial name="Body" model=@Model.BodyViewModel />
    </div>
    <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="tab-metadata">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.DocumentId)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.DocumentId)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.PartitionKey)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.PartitionKey)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.PageLocation)
                </dt>

                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.PageLocation)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.IsDefaultForPageLocation)
                </dt>

                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.IsDefaultForPageLocation)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.CanonicalName)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.CanonicalName)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.Version)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.Version)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.HtmlHead!.Description)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.HtmlHead!.Description)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.HtmlHead!.Keywords)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.HtmlHead!.Keywords)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.HtmlHead!.Title)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.HtmlHead!.Title)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.HtmlHead!.CanonicalUrl)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.HtmlHead!.CanonicalUrl)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.UseBrowserWidth)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.UseBrowserWidth)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.ShowBreadcrumb)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.ShowBreadcrumb)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.IncludeInSitemap)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.IncludeInSitemap)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.SiteMapChangeFrequency)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.SiteMapChangeFrequency)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.SiteMapPriority)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.SiteMapPriority)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.Url)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.Url)
                </dd>
            </div>
            @if (Model.HeroBannerViewModel != null)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        @Html.DisplayNameFor(model => model.HeroBannerViewModel!.ShowHeroBanner)
                    </dt>

                    <dd class="govuk-summary-list__value">
                        @Html.DisplayFor(model => model.HeroBannerViewModel!.ShowHeroBanner)
                    </dd>
                </div>
            }
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.CreatedDate)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.LastCached)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.LastCached)
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    @Html.DisplayNameFor(model => model.LastReviewed)
                </dt>
                <dd class="govuk-summary-list__value">
                    @Html.DisplayFor(model => model.LastReviewed)
                </dd>
            </div>
            @if (Model.Redirects.Any())
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        @Html.DisplayNameFor(model => model.Redirects)
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @if (Model.Redirects != null)
                        {
                            <ol>
                                @foreach (var redirect in Model.Redirects)
                                {
                                    var redirectUrl = "/pages" + redirect + (redirect == "/" ? string.Empty : "/") + "document";

                                    <li><a href="@redirectUrl">@redirect</a></li>
                                }
                            </ol>
                        }
                    </dd>
                </div>
            }
        </dl>
    </div>
</div>
